

.box{
    background-color: black;
    width:200px;
    height:350px;
    border-radius: 20px;
    justify-content: center;
    padding: 10px;
    border: 5px solid grey;


}

.color1{
    border-radius: 50%;
    width:100px;
    height:100px;
    border:2px solid red;
    text-align: center;
    margin: 5px auto;

}
.color1-light{
    border-radius: 50%;
    width:100px;
    height:100px;
    border:2px solid red;
    text-align: center;
    box-shadow: 0px 0px 34px 8px red;
    background-color: red;
    margin: 5px auto;

    
}




.color2{
    border-radius: 50%;
    width:100px;
    height:100px;
    border:2px solid orange;
    text-align: center;
    margin: 5px auto;

}
.color2-light{
    border-radius: 50%;
    width:100px;
    height:100px;
    border:2px solid orange;
    text-align: center;
    background-color: orange;
    box-shadow: 0px 0px 34px 8px orange;
    margin: 5px auto;


}



.color3{
    border-radius: 50%;
    width:100px;
    height:100px;
    border:2px solid green;
    text-align: center;
    margin: 5px auto;

}
.color3-light{
    border-radius: 50%;
    width:100px;
    height:100px;
    border:2px solid green;
    text-align: center;
    background-color: green;
    box-shadow: 0px 0px 34px 8px green;
    margin: 5px auto;
}